﻿@using MultiplicationTable.Models
@model Table

@{
    Layout = "_Layout";
    ViewData["Title"] = "Table Show";
    var table  = ViewData["table"]  as Table;
    var matrix = (List<List<string>>)ViewData["matrix"];
}

@section Styles
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
}

@section Scripts
{
    <script>
        //Save some ASP .NET variables in the Javascript variables to be used in the table.js.
        var base = "@table.MatrixBase";
        var size2 = @table.MatrixSize;

        var matrix2 = [];
        @{
            foreach (var row in matrix)
            {
                @:var matrix1 = [];
                foreach (var str in row)
                {
                  @:matrix1.push("@str");
                }
                @:matrix2.push(matrix1);
            }
        }

        //Define a Javascript function for going the program to the get method of the Index 
        //in Table controller by clicking on the multiplication table.
        $('#multi').on("click", function () {
            var size1 = $('#MatrixSize').val();
            var base1 = $('#select').val();

            var url1 = '@Html.Raw(Url.Action("Index1", "Table", new { size = "s1", mbase = "b1" }))';
            var url2 = url1.replace('s1', size1);
            var url  = url2.replace('b1', base1);
            window.location.href = url;
        });
    </script>

    <script src="~/js/table.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
}

<div class="row">
    <div class="col-sm-9 col-md-9" style="text-align: center">
        <h4>Multiplication Table Show</h4>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-9 col-md-9">
        <h5>Multiplication-Table Inputs:</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label asp-for="MatrixSize" class="control-label"></label>
                        <input type="number" asp-for="MatrixSize" id="MatrixSize" class="form-control" value="@table.MatrixSize" />
                        <span asp-validation-for="MatrixSize" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label asp-for="MatrixBase" class="control-label"></label>
                        <select asp-for="MatrixBase" class="form-control" id="select" value="@table.MatrixBase">
                            <option value="decimal">Decimal</option>
                            <option value="binary">Binary</option>
                            <option value="hex">Hexadecimal </option>
                        </select>
                        <span asp-validation-for="MatrixBase" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Klick on the Button or Select the Table</label>
                        <br />
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-9 col-sm-9 col-md-8">
        <table id="multi" class="col-9 col-sm-9 col-md-8">
            @{
                <tr>
                    @{
                        for (int j = 0; j <= table.MatrixSize; j++)
                        {
                            <td>@matrix[0][j]</td>
                        }
                    }
                </tr>
            }
            @{
                for (int i = 1; i <= table.MatrixSize; i++)
                {
                    <tr>
                        @{
                            <td>@matrix[i][0]</td>
                            for (int j = 1; j <= table.MatrixSize; j++)
                            {
                            <td title="" class="tdTable">@matrix[i][j]</td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    </div>
</div>