﻿
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h5>@ViewData["Message"]</h5>

<p>
    We are a software development company that provides cutting edge engineering solutions, 
    helping Fortune 1500 companies and enterprise clients that always emerge during their 
    digital evolution journey. Since 2011 we have been a software engineering partner for 
    world-class brands.
</p>
