﻿
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<br />

<h6>Montreal:</h6>
<address>
    254 John Street<br />
    Montreal, QC H4w 2O3<br />
    <abbr title="Phone">P:</abbr>
    425.555.0111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@xm.com">Support@xm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@xm.com">Marketing@xm.com</a>
</address>

<br />

<h6>Ottawa:</h6>
<address>
    345 Smith Street<br />
    Ottawa, ON H3W 4F2<br />
    <abbr title="Phone">P:</abbr>
    525.444.1100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@xo.com">Support@xo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@xo.com">Marketing@xo.com</a>
</address>
